---
layout: default
---

<div class="center">
    <h1 class="title">Skoggy Games</h1>
    <hr class="mb-3"/>
    <h2>
        <span class="text-muted">by</span>
        Erik Skoglund
    </h2>

    <hr />

    <div class="mb-5">
        {% include icon-github-custom.html username=site.github_username %} | 
        {% include icon-twitter-custom.html username=site.twitter_username %}
    </div>
</div>

<div class="container">
    {% for game in site.data.games %}

    <div class="item game center">
        <h2>
            <a href="{{ game.itchioGameUrl }}" target="_blank">
                {{ game.title }}
            </a>
        </h2>

        <iframe frameborder="0" src="https://itch.io/embed/{{ game.itchioGameId }}?border_width=0&amp;bg_color=fafafa" width="208" height="165"></iframe>
        <div class="game-description">
            <i>{{ game.description }}</i> 
        </div>
    </div>

    {% endfor %}
</div>